<h1>New Post</h1>

<%= form_for :post, url: posts_path do |f| %>
 <% if @post.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited
      this post from being saved:</h2>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>

   <%= f.fields_for :questions do |builder| %>
      <p>
        <%= builder.label :content, "Question" %><br />
        <%= builder.text_area :content %><br />
        <%= builder.check_box :_destroy %>
        <%= builder.label :_destroy, "Remove Question" %>
      </p>
      <%= f.fields_for :answers do |builder| %>
        <p>
          <%= builder.label :content, "Answer" %>
          <%= builder.text_field :content %>
          <%= builder.check_box :_destroy %>
          <%= builder.label :_destroy, "Remove" %>
        </p>
      <% end %>
   <% end %>

  <p>
    <%= f.submit %>
  </p>
  <%= link_to 'Back', posts_path %>
  <% end %>